<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.message %>">
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <div class="container">
        <%- include("../patials/header.ejs") %> 
        <main class="main">
            <%- body %>
        </main>
        <%- include("../patials/footer.ejs") %> 
    </div>
</body>
</html>